<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>

<body>

    <!-- <% const name='mario' %> -->

    <%- include('../partials/nav.ejs') %>
    
    <!-- = gives string value instead of raw html  -->



    <!-- <nav>
        <div class="site-title">
            <p><%= name%></p>
            <a href="/"><h1>Blog Ninja</h1></a>
            <p>A Net Ninja Site</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blogs</a></li>
        </ul>
    </nav> -->
<!-- we can use if else ,oops using ejs i.e <%%> -->
    <div class="blogs content">
        <h2>All Blogs</h2>
        <% if (blogs.length >0){ %>
            <!-- <h3></h3>
            <p></p> -->
            <% blogs.forEach(blog=>{ %>
                <a class="single" href="/blogs/<%= blog._id%>">
                    <h3 class="title"><%=blog.title%></h3>
                    <p class ="snippet"><%=blog.snippet%></p>
                </a>
            <% }) %>
        <% } else{ %>  <!--use else in the same ine as if's ending bracket -->
            <p>There are no blogs to display</p>
        <% } %>
    </div>
    <%- include('../partials/footer.ejs') %>


</body>
</html>